---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/publications/sdfsdfsdfds/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211011-154348-f913722d14
      X-Obvious-Info:
      - 20211026-2100-root,11f0149b
      X-Opentracing:
      - '{"ot-tracer-spanid":"042f1d9d302b86d8","ot-tracer-traceid":"341a22a6e0167d61","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Tue, 26 Oct 2021 23:44:06 GMT
recorded_with: VCR 6.0.0
