---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/users/1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e/posts
    body:
      encoding: UTF-8
      string: title=Test%20Title&content=%3Ch1%3E%20Test%20Title%3C%2Fh1%3E&contentFormat=html
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Location:
      - https://medium.com/@nmisharin/test-title-c051da305038
      Medium-Fulfilled-By:
      - valencia/main-20211011-154348-f913722d14
      X-Obvious-Info:
      - 20211026-0115-root,1a938974
      X-Opentracing:
      - '{"ot-tracer-spanid":"29c188fc1a3b7e3e","ot-tracer-traceid":"137282cf65ca92ea","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c051da305038","title":"Test Title","authorId":"1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e","url":"https://medium.com/@nmisharin/test-title-c051da305038","canonicalUrl":"","publishStatus":"","publishedAt":1635221764126,"license":"","licenseUrl":"https://policy.medium.com/medium-terms-of-service-9db0094a1e0f","tags":[]}}'
  recorded_at: Tue, 26 Oct 2021 04:16:04 GMT
recorded_with: VCR 6.0.0
