---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211011-154348-f913722d14
      X-Obvious-Info:
      - 20211020-1531-root,744cd4ff
      X-Opentracing:
      - '{"ot-tracer-spanid":"12054f2715faa655","ot-tracer-traceid":"5de98c51cf136626","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e","username":"nmisharin","name":"Test
        Api Key","url":"https://medium.com/@nmisharin","imageUrl":"https://cdn-images-1.medium.com/fit/c/400/400/1*dmbNkD5D-u45r44go_cf0g.png"}}'
  recorded_at: Wed, 20 Oct 2021 22:26:52 GMT
recorded_with: VCR 6.0.0
