---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/users/10409f26416b73f01893551f0c777589c88185bcd4aafd953b00f32eff8e0be9e/posts
    body:
      encoding: UTF-8
      string: title=Test%20Title&content=%3Ch1%3E%20Test%20Title%3C%2Fh1%3E&contentFormat=html
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211011-154348-f913722d14
      X-Obvious-Info:
      - 20211026-2100-root,11f0149b
      X-Opentracing:
      - '{"ot-tracer-spanid":"76256f3042c4b734","ot-tracer-traceid":"3c04bcc0e77e56a1","ot-tracer-sampled":"true"}'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"You may not publish a post to this user''s profile.","code":2006}]}'
  recorded_at: Tue, 26 Oct 2021 23:48:11 GMT
recorded_with: VCR 6.0.0
