---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/users/1b619f0be1bc842ffc55e8a20c7d6c9129ba896467b90ab9e23b86a36fdd2a67e/posts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2ada46c383ae76af4ca4dcbe42f7611062644f366bd6281c2efe78202b35f3c60
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211011-154348-f913722d14
      X-Obvious-Info:
      - 20211026-2100-root,11f0149b
      X-Opentracing:
      - '{"ot-tracer-spanid":"74348bd267dc2a2f","ot-tracer-traceid":"562ad40892a0fe19","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"No content specified.","code":2002}]}'
  recorded_at: Tue, 26 Oct 2021 23:46:39 GMT
recorded_with: VCR 6.0.0
