---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer asd
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20211011-154348-f913722d14
      X-Obvious-Info:
      - 20211026-2100-root,11f0149b
      X-Opentracing:
      - '{"ot-tracer-spanid":"3862363c31bc8ba4","ot-tracer-traceid":"79bcbf01d0c0870e","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Token was invalid.","code":6003}]}'
  recorded_at: Tue, 26 Oct 2021 23:37:21 GMT
recorded_with: VCR 6.0.0
